nav {
  display: flex;
  margin: 0 auto;
  gap: 10px;
  align-items: center;
}

nav a {
  color: #333;
  padding: 4px 10px;
}
nav a.active {
  color: white;
  background: #333;
  text-decoration: none;
}
